<body>
    <div class="container-fluid">
        <div class="row d-flex flex-column text-center general">
            <div class="col  titulo">Mis citas</div>
            <div class="col">
                <div class="row justify-content-center" style="height: 5vh;">
                    <div class="col-2" style="background-color: white;">Proximas citas</div>
                    <div class="col-2" style="background-color: #6BB0BF;">Citas previas</div>
                </div>
            </div>
            <div class="col d-flex">
                <table class="sombra"> 
                    <tr> 
                      <td>Servicio</td>
                      <td>Fecha</td>
                      <td>Hora</td>
                    </tr>
                    <tr> 
                      <td> Oncología  medica-Comun </td>
                      <td> 21/12/2022 </td>
                      <td> 9:40</td>
                    </tr>
                    <tr> 
                      <td> Radiología </td>
                      <td> 21/12/2022</td>
                      <td> 10:30 </td>
                    </tr>
                    <tr> 
                      <td> Oncología medica-Común </td>
                      <td> 21/12/2022 </td>
                      <td> 13:00 </td>
                    </tr>
                </table>
            </div>
            <div class="row justify-content-center">
              <button class="gestionar" type="submit">Solicitar cita ❯</button>
              <button class="gestionar" type="submit">Gestionar cita ❯</button>
            </div>
        </div>
    </div>
    </body>
    