<body>
    <div class="container-fluid">
        <div class="row d-flex flex-column text-center">
            <div class="col">Mis citas</div>
            <div class="col">
                <div class="row" style="background-color: #6BB0BF;">
                    <div class="col">Proximas citas</div>
                    <div class="col">Citas previas</div>
                </div>
                <div class="row"></div>
            </div>
            <div class="col">
                <table> 
                    <tr> 
                      <td>Servicio</td>
                      <td>Fecha</td>
                      <td>Hora</td>
                    </tr>
                    <tr> 
                      <td> Oncología  medica-Comun </td>
                      <td> 21/12/2022 </td>
                      <td> 9:40</td>
                    </tr>
                    <tr> 
                      <td> Radiología </td>
                      <td> 21/12/2022</td>
                      <td> 10:30 </td>
                    </tr>
                    <tr> 
                      <td> Oncología medica-Común </td>
                      <td> 21/12/2022 </td>
                      <td> 13:00 </td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <button class="gestionar" type="submit">GESTIONAR CITA ❯</button>
            </div>
        </div>
    </div>
    </body>
    