<div class="container py-5 h-100">
    <div class="row d-flex justify-content-start align-items-start h-100">
<!-- =====================
COLUMNA DERECHA
===================== -->
      <div class="col-md-12 col-xl-4">

<br>
        
        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
           

                  <ul class="list-unstyled">
                    <div style="background-color: white; text-align: center;">INTRODUCE DATOS PARA SOLICITAR CITA</div><br>
                   
                    <form class="form-horizontal" method="post">
                      <fieldset>
                          <select class="form-select form-select-lg mb-4" aria-label="Ejemplo de .form-select-lg">
                              <option selected>Especialidad</option>
                              <option value="1">Analitica</option>
                              <option value="2">Radiologia</option>

                          </select>

                          <select class="form-select form-select-lg" aria-label="Ejemplo de .form-select-lg" required>
                              <option selected aria-required="true">Seleccione medico para atenderle</option>
                              <option value="1">12:00</option>
                              <option value="2">13:00</option>
                              <option value="1">14:00</option>
                              <option value="2">15:00</option>

                          </select><br>
                          <select class="form-select form-select-lg" aria-label="Ejemplo de .form-select-lg" required>
                            <option selected aria-required="true">Horas disponibles</option>
                            <option value="1">12:00</option>
                            <option value="2">13:00</option>
                            <option value="1">14:00</option>
                            <option value="2">15:00</option>

                        </select>
                      </fieldset>
                  </form>
                </ul>
              </div>
          </div>
          
        

<br><br>



</div>

<!-- =====================
COLUMNA IZQUIERDA
================== -->

<div class="col"><br>

<div class="card-body"> 

      <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow">

              <div class="card-body">
                  

                      <article class="calendar-wrapper">
                        <igx-calendar [weekStart]="1"></igx-calendar>
                    </article>

                         <!-- ========
                              BOTONES
                          ======== -->

                    <button type="button" class="btn btn-default btn-lg gestionar" routerLink="/citas">Confirmar ➤</button>  &nbsp;
                    <button type="button" class="btn btn-default btn-lg gestionar"routerLink="/citas" >Cancelar ➤</button>
                  </div>
              </div>
          </div>
      </div>

</div>
</div>

</div>


