<script>

  window.onload = () =>{
    console.log("a");

  }
$(function (){   

  

});
</script>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-start align-items-start h-100">
<!-- =====================
COLUMNA DERECHA
===================== -->
      <div class="col-md-12 col-xl-4">
<br>
        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">

                  <ul class="list-unstyled">
                    <div style="background-color: white; text-align: center;">INTRODUCE DATOS PARA SOLICITAR CITA</div><br>

                    <!-- FORMULARIO CITA -->
                    <form [formGroup]="formularioCita" (ngSubmit)="onSubmit()" class="form-horizontal">
                      <fieldset>
                        <div class="d-flex flex-column">
                          <label for="especialidad" class="form-label">Especialidad  </label>
                          <span style="color:red" *ngIf="this.formularioCita.get('especialidad')?.touched && this.formularioCita.get('especialidad')?.errors?.['required']">(Debes seleccionar una especialidad)</span>
                          <select id="especialidad" name="especialidad" formControlName="especialidad"  #teams (change)="onSelected(teams.value)" class="form-select form-select-lg mb-4" aria-label="Ejemplo de .form-select-lg" required>
                              <option value="analitica">Analitica</option>
                              <option value="oncologia">Oncologia</option>
                              <option value="radiografia">Radiologia</option>
                          </select>
                        </div>
                          <label for="dni_medico" class="form-label">Medico</label>
                          <select id="dni_medico" name="dni_medico" formControlName="dni_medico" class="form-select form-select-lg" #medicoSelec (change)="onSeleccion(medicoSelec.value)"  aria-label="Ejemplo de .form-select-lg" required>
                              <option selected aria-required="true">Escoja medico para atenderle</option>
                              <option *ngFor="let medico of medicos" value="{{medico.dni}}" >{{medico.nombre}}</option>
                          </select>
                          <span style="color:red" *ngIf="this.formularioCita.get('dni_medico')?.touched && this.formularioCita.get('dni_medico')?.errors?.['required']">(Debes seleccionar un medico)</span>
                          <br>
                          <label for="hora" class="form-label">Horas disponibles</label>
                          <select id="hora" name="hora" class="form-select form-select-lg" aria-label="Ejemplo de .form-select-lg" formControlName="hora"  required>
                            <option value="12:00:00">12:00</option>
                            <option value="13:00:00">13:00</option>
                            <option value="14:00:00">14:00</option>
                            <option value="15:00:00">15:00</option>
                            <option value="16:00:00">16:00</option>
                            <option value="17:00:00">17:00</option>
                            <option value="18:00:00">18:00</option>
                            <option value="19:00:00">19:00</option>
                            <option value="20:00:00">20:00</option>
                            <option value="21:00:00">21:00</option>
                            <option value="21:30:00">21:30</option>
                        </select>
                        <span style="color:red" *ngIf="this.formularioCita.get('hora')?.touched && this.formularioCita.get('hora')?.errors?.['required']">(Debes seleccionar una hora)</span>

                        <br>
                        <div class="d-flex flex-column">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <textarea name="Text1" cols="40" rows="5"  formControlName="descripcion" name="descripcion" id="descripcion" required></textarea>
                
                        <span style="color:red" *ngIf="this.formularioCita.get('descripcion')?.touched && this.formularioCita.get('descripcion')?.errors?.['required']">(Debes poner una descripcion)</span>

                        <button type="submit"  id ="botonConfirmar" class="botonPrevia"   [disabled]="!formularioCita.valid"  >Confirmar </button>  &nbsp;
                        </div>
                      </fieldset>
                  </form>
                  <!-- FIN FORMULARIO -->
                </ul>
              </div>
          </div>
<br><br>

</div>

<!-- =====================
COLUMNA IZQUIERDA
================== -->

<div class="col"><br>

<div class="card-body"> 

      <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow">

              <div class="card-body ">
                    <form  [formGroup]="formularioCita" >
                      <article  class="calendar-wrapper">
                        <igx-calendar formControlName="fecha" #calendar (selected)="onSelection($event)"></igx-calendar>
                    </article>
                        <span style="color:red" *ngIf="this.formularioCita.get('fecha')?.touched && this.formularioCita.get('fecha')?.errors?.['required']">(Debes seleccionar una fecha)</span>
                        
                      </form>
                    <button type="button" id="botonCancelar" class="botonPrevia" routerLink="/citas" >Cancelar</button>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>

</div>


