* {
    font-weight: bold;
    word-wrap: break-word;
}

body {
    font-weight: bold;
}

table {
    background-color: #ecedee;
    border-radius: 7px;
}

img {
    height: 100%;
    min-width: 100%;
    display: block;
}

.my-custom-scrollbar {
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#encabezado {
  background: #055757 ;
    color: #ffffff;
    border-radius: 50px;
}

#encab{
    color: #000000;
    font-weight: 900;
}

.gestionar {
    align-self: down;
    width: 180px;
    height: 50px;
    background: #6BB0BF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.205);
    border-radius: 20px;
    color: black;
    border-color: #6BB0BF;
    border-width: 1px;
    border-style: solid;
    position: relative;
    top: 237%;
    left: 25%;
    font-weight: 10;
}

.despliegue{
    background-color: #074f5f;
    color: #ffffff;
}

#desplegable{
    background-color: #074f5f;
    color: #ffffff;
}

#encabezado2{
    background-color: #074f5f;
    color: #ffffff;
}


.my-custom-scrollbar {
    position: relative;
    height: 280px;
    overflow: auto;

}

.table-wrapper-scroll-y {
    display: block;
}

.botonPrevia{
    width: 100px;
    height: 100px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2px;
    color: #FFFFFF;
    background: #266352;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px; 
}

.btn-info{
    background-color: #05575700;
    border-color:#ad070700;
    font-size:20px;
    height: 20%;
    width: 40px;
    border-radius: 80%;

}

.btn{
    width: 58px;
    height: 35px;
}

.btn-danger{
    background-color: #ad070700;
    border-color:#ad070700;
    height: 20%;
    width: 40px;
    border-radius: 80%;
}

.btn-info{
    background-color: #055757;
    border-color:#ad070700;
    font-size:18px;
    height: 30PX;
    width: 30px;
    border-radius: 80%;

}

.btn-warning{
    background-color: #ad070700;
    border-color:#ad070700;
    height: 20%;
    width: 40px;
    border-radius: 80%;
}

.btn-ver{
    background-color: #ffffff00;
    border-color:#ad070700;
    height: 20%;
    width: 40px;
    border-radius: 80%;
}

.bi-trash3{
   color:#010807;
   font-size:20px;
}

.bi-eye{
    color:#12493b;
    font-size:20px;
}

.bi-pencil{
    color:#1b5740;
    font-size:20px;
}

.gestionar{
    align-self: down;
    width: 180px;
    height: 50px;
    background: #6BB0BF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.205);
    border-radius: 20px;
    color: black;
    border-color: #6BB0BF;
    border-width: 1px;
    border-style: solid;
}

#radio{
  background: url( "/assets/images/brazo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}