<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <br>
    
      <br><br>
      <p id="encab"><h5>𝗠𝗘𝗗𝗜𝗖𝗔𝗖𝗜𝗢𝗡 𝗦𝗨𝗠𝗜𝗡𝗜𝗦𝗧𝗥𝗔𝗗𝗔 ▶</h5> 

      <div class="table-wrapper-scroll-y my-custom-scrollbar"> 
      <table class="table"   *ngIf="mostrarTabla"
     >
        <thead  id="encabezado" style="text-align:center" >
          <tr>
            <th><H6>Medicamento</H6></th>
            <th><H6>Dosis</H6></th>
            <th><H6>Fecha</H6></th>
            <th>Tratamiento</th>
          </tr>  
        </thead>
          <tr *ngFor="let medicamento of medicamentos" style="text-align:center">
              
            <td >{{ medicamento.nombre }}</td>
            <td >{{ medicamento.dosis }}</td>
            <td >{{ medicamento.fecha_creacion }}</td>
            <td >{{ medicamento.comentarios }}</td>
         
          </tr>
      
        <tbody>
         
        </tbody>
      </table></div>
      <br>
    <p id="encab"><h5> 𝗣𝗥𝗢𝗚𝗥𝗘𝗦𝗢 ▶</h5>
    <div class="table-wrapper-scroll-y my-custom-scrollbar"> 
      <table class="table"   *ngIf="mostrarTabla"
     >
        <thead  id="encabezado" style="text-align:center">
          <tr>
            <th><h6>Progreso</h6></th>
           
          </tr>  </thead>
          <tr *ngFor="let informe of informes">
              
            <td >{{ informe.observaciones}}</td>
          
         
          </tr>
      
        <tbody>
         
        </tbody>
      </table>
      </div>
    </div>
    <div class="col-6">
      <br>
      <!-- <p id="encab"> RADIOGRAFIAS ▶</p>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100" id="dropdownMenu2" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" id="encabezado">
          Lesion de cubito
        </button>
        <div class="dropdown-menu">
          <div class="dropdown text-muted d-flex">
            <div class="col-8">Se lesionó durante el partido del Madrid Barcelona después de ser duramente arroyado por
              un jugador del equipo contrario</div>
            <div class="col-4"><img
                src="https://media.tycsports.com/files/2021/09/21/334868/messi-lesion_1440x810_wmk.jpg" alt="Messi">
            </div>
          </div>
        </div>
      </div> --><br><br>
      <p id="encab"> <h5>𝗥𝗔𝗗𝗜𝗢𝗚𝗥𝗔𝗙𝗜𝗔 ▶</h5>
      <select class="form-select" aria-label="Default select example" id="desplegable">
      <option style="text-align:center">Mostrar radiologías ...</option>
        <tr *ngFor="let medicamento of medicamentos">
              
          <td >{{ medicamento.nombre }}</td>
        
       
        </tr>
      </select>
      <br><br><br><br><br><br><br><br>
      <p id="encab"><h5>𝗔𝗡𝗔𝗟𝗜𝗧𝗜𝗖𝗔 ▶</h5>
      <select class="form-select" aria-label="Default select example" id="desplegable">
        <option style="text-align:center">Mostrar analíticas ...</option>
          <tr *ngFor="let medicamento of medicamentos">
                
            <td >{{ medicamento.nombre }}</td>
          
         
          </tr>
        </select> 
    <!-- </div><br> <div class="col d-flex justify-content-center align-items-center ">
      <button type="button" class="btn btn-default btn-lg gestionar" routerLink="/solicitarCitas">Solicitar cita ➤</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <button type="button" class="btn btn-default btn-lg gestionar"routerLink="/gestionar-cita-med" >Modificar cita ➤  </button>
      -->
    </div>
  </div>
</div>