

        

<div class="row" id="contenedor">
    <div class="container d-flex align-items-center justify-content-center">
  
      <div class="card text-center my-3">
        <div class="card-header titulos">ANALITICAS</div>
        <div class="card-body">
       
         
                <table class="table table-bordered table-striped mb-0">
                  
                    <tr  style="text-align: center;">
                      <td>{{ informe.observaciones }}</td>
                      
                   
                    </tr>
                  </table>
                  
          </div>
  
  
        </div> 
  
  
       
        </div>  <button type="button" id="botonCancelar" class="botonPrevia" routerLink="/historial" >Volver</button>
      </div>
  
