<nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary text-dark fs-3 ">
  <div class="container-fluid ">
    <div class="navbar-brand" href="#" id="icono">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex-lg justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-5 ">
          <a class="nav-link " routerLink="/" aria-current="page">Inicio</a>
        </li>
        <div *ngIf="paciente">
          <li class="nav-item mx-5">
            <a class="nav-link" routerLink="/historialMedico">Historial Medico</a>
          </li>
        </div>
        <div *ngIf="paciente">
          <li class="nav-item mx-5">
            <a class="nav-link" routerLink="/citas">Citas</a>
          </li>
        </div>
        <div *ngIf="medico">
          <li class="nav-item mx-5">
            <a class="nav-link" routerLink="/pacientes">Pacientes</a>
          </li>
        </div>
        <div *ngIf="medico">
          <li class="nav-item mx-5">
            <a class="nav-link" routerLink="/citas">Mis citas</a>
          </li>
        </div>
        <li class="nav-item mx-5">
          <a routerLink="/perfil" class="nav-link">Mi Perfil</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="">
          <a href="/login" class="button-48" routerLink="login">Login</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="">
          <div class="col-2 mt-2  d-flex fs-5">{{email}} <button class="button-48 ms-2" (click)="logout()"><i href
                class="imt-2 ml-2 bi bi-box-arrow-right" style="font-size: 20px;"></i></button> </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


<style>
  /* CSS */
  .button-48 {
    appearance: none;
    border-radius: 10px;
    background-color: #ff3737;
    border-width: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;

    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 6px;
    padding-left: 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }

  .button-48:before {
    border-radius: 10px;
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #ebebebe0;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }

  .button-48:hover:before {
    border-radius: 10px;
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }

  .button-48:after {
    background-color: #ffffffe3;
  }

  .button-48 span {
    z-index: 1;
    position: relative;
  }
</style>