<div class="container-fluid"><BR>
  <div class="row">
    <div class="col-4 p-5 text-center">
      <br>      <br>      <br>      <br>      <br>
        <div id="encabezado2"><BR>
          <h6>𝗗𝗔𝗧𝗢𝗦 𝗣𝗘𝗥𝗦𝗢𝗡𝗔𝗟𝗘𝗦</h6><BR>
        </div><br><BR>
        <table class="table">
          <tbody>
            <tr>
              <th><h6>Nombre</h6></th>
              <td> <input class="form-control shadow text-uppercase negrita" type="text"
                value="{{ perfil.nombre }}" disabled>
               </td>
            </tr>
            <tr>
              <th><h6>Apellidos</h6></th>
              <td>   <input class="form-control shadow text-uppercase negrita" type="text"
                value="{{ perfil.apellido1 }}" disabled></td>
            </tr>
            <tr>
              <th><h6>Fecha nacimiento</h6></th>
              <td>   <input class="form-control shadow text-uppercase negrita" type="text"
                value="{{ perfil.fecha_nacimiento}}" disabled></td>
            </tr>
            <tr>
              <th><h6>DNI</h6></th>
              <td>  <input class="form-control shadow text-uppercase negrita" type="text"
                value="{{ perfil.dni }}" disabled></td>
            </tr>
            <tr>
              <th><h6>Sexo</h6></th>
              <td>  <input class="form-control shadow text-uppercase negrita" type="text"
                value="{{ perfil.sexo }}" disabled></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-8">

          <h6 style="text-align: center;">𝗛𝗜𝗦𝗧𝗢𝗥𝗜𝗔𝗦 𝗔𝗖𝗧𝗨𝗔𝗟𝗘𝗦</h6><br>  <div id="encabezado"><div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-bordered table-striped mb-0">
            <thead style="text-align: center; ">
              <tr >

                <th scope="col"><H6>Tramiento</H6></th>
                <th scope="col"><H6>Medico</H6></th>
                <th scope="col"><H6>Fecha</H6></th>
                <th scope="col"><H6>Fecha Fin</H6></th>
                <td style="width: 170px;"></td>
              </tr>
            </thead> <tbody>
              <tr *ngFor="let historia_clinica of historias_clinicas" style="text-align: center;">
              <!-- <tr style="text-align: center;">
              <td scope="row">a</td>
              <td>a</td>
              <td>a</td>
               <td>a</td> -->
               <td>{{ historia_clinica.tratamiento  }}</td>
               <td>{{historia_clinica.medicos[0].user.nombre}}</td>
               <td>{{ historia_clinica.fecha_inicio | date:'dd/MM/YY' }}</td>
               <td>{{ historia_clinica.fecha_fin | date:'dd/MM/YY' }}</td>
         
              <td> 
                <div class="my-3 text-center">
                  <a class="btn btn-sm btn-warning ms-1" data-bs-toggle="tooltip" [routerLink]="['/historial',historia_clinica.n_historia]" >
                    Ver historial</a>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                        
                            <a class="btn btn-sm btn-danger ms-1" data-bs-toggle="tooltip">
                              <i class="bi bi-trash3"></i>{{ txBoton }}</a>
                          
                </div>
              </td>
            </tr></tbody>
          </table>
        </div>
      </div>
    
   <br>
   <br>
        
          <h6 style="text-align: center; ">𝗛𝗜𝗦𝗧𝗢𝗥𝗜𝗔𝗦</h6><br><div id="encabezado"><div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-bordered table-striped mb-0">
            <thead style="text-align: center; ">
              <tr>
                
                <th scope="col"><H6>Especialidad</H6></th>
                <th scope="col"><H6>Medico</H6></th>
                <th scope="col"><H6>Fecha</H6></th>
                <th scope="col"><H6>Fecha Fin</H6></th>
                <td style="width: 170px;"></td>
    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let historia_clinica of historias_clinicas" style="text-align: center;">
                <td>{{ historia_clinica.tratamiento }}</td>
                <td>{{historia_clinica.medicos[0].user.nombre}}</td>
                <td>{{ historia_clinica.fecha_inicio | date:'dd/MM/YY' }}</td>
                <td>{{ historia_clinica.fecha_fin  | date:'dd/MM/YY' }}</td>
              
                <td> 
                  <div class="my-3 text-center">
                    <a class="btn btn-sm btn-warning ms-1" data-bs-toggle="tooltip" [routerLink]="['/historial',historia_clinica.n_historia]" >
                    Ver historial</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                  

                    <a class="btn btn-sm btn-danger ms-1" data-bs-toggle="tooltip">
                      <i class="bi bi-trash3"></i>{{ txBoton }}</a>
                      
                  </div>
                </td>
    
              </tr>
            
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>