<div class="container-fluid">
  <div class="row">
    <div class="col-4 p-5 text-center">
      <br><br><br><br><br>
        <div id="encabezado">
          <h6>𝗗𝗔𝗧𝗢𝗦 𝗣𝗘𝗥𝗦𝗢𝗡𝗔𝗟𝗘𝗦</h6>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <th>Nombre</th>
              <td></td>
            </tr>
            <tr>
              <th>Apellidos</th>
              <td></td>
            </tr>
            <tr>
              <th>Edad</th>
              <td></td>
            </tr>
            <tr>
              <th>DNI</th>
              <td></td>
            </tr>
            <tr>
              <th>Sexo</th>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-8">
      <br><br><br><br>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div id="encabezado">
          <h6 style="text-align: center;">𝗛𝗜𝗦𝗧𝗢𝗥𝗜𝗔𝗦 𝗔𝗖𝗧𝗨𝗔𝗟𝗘𝗦</h6><br>
          <table class="table table-bordered table-striped mb-0">
            <thead style="text-align: center;">
              <tr>
                <th><H6>Medicamento</H6></th>
                <th><H6>Dosis</H6></th>
                <th><H6>Fecha</H6></th>
                <th><H6>Comentarios</H6></th>
                <td style="width: 170px;"></td>
              </tr>
            </thead>
            <tr style="text-align: center;">
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td> 
                <div class="my-3 text-center">
                  <a class="btn btn-sm btn-warning ms-1" data-bs-toggle="tooltip" >
                    <i class="bi bi-pencil"type="button" class="btn btn-default btn-lg gestionar" routerLink="/historial"></i>V</a>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                  <a class="btn btn-sm btn-danger ms-1" data-bs-toggle="tooltip">
                    <i class="bi bi-trash3"></i></a>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    
      <br><br>
    
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
    
        <div id="encabezado">
          <h6>𝗛𝗜𝗦𝗧𝗢𝗥𝗜𝗔𝗦</h6>
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th scope="col">Historia</th>
                <th scope="col">Tratamiento</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Fin</th>
                <th scope="col"></th>
    
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>