<div class="container-fluid">
  <div class="row">
    <div class="col-4 p-5 text-center">
      <br><br><br><br><br>
        <div id="encabezado">
          <h6>𝗗𝗔𝗧𝗢𝗦 𝗣𝗘𝗥𝗦𝗢𝗡𝗔𝗟𝗘𝗦</h6>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <th>Nombre</th>
              <td></td>
            </tr>
            <tr>
              <th>Apellidos</th>
              <td></td>
            </tr>
            <tr>
              <th>Edad</th>
              <td></td>
            </tr>
            <tr>
              <th>DNI</th>
              <td></td>
            </tr>
            <tr>
              <th>Sexo</th>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-8">
      <br><br><br><br>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div id="encabezado">
          <h6>𝗛𝗜𝗦𝗧𝗢𝗥𝗜𝗔𝗦 𝗔𝗖𝗧𝗨𝗔𝗟𝗘𝗦</h6>
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th scope="col">Historia</th>
                <th scope="col">Tratamiento</th>
                <th scope="col">Fecha</th>
    
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
    
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
    
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
    
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Mark</td>
                <td>Otto</td>
    
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Jacob</td>
                <td>Thornton</td>
    
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Larry</td>
                <td>the Bird</td>
    
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
      <br><br>
    
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
    
        <div id="encabezado">
          <h6>𝗛𝗜𝗦𝗧𝗢𝗥𝗜𝗔𝗦</h6>
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th scope="col">Historia</th>
                <th scope="col">Tratamiento</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Fin</th>
                <th scope="col"></th>
    
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Otto</td>
                <td><button>Mostrar</button></td>
    
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>