#encabezado {
    background-color: #fffefec0;
    color: #020000;
    border-radius: 15px;
   
}
#encabezado2 {
    background: linear-gradient(200deg, rgba(233, 233, 233, 0.932292) -20%, #6BB0BF );
    color: #020000;
    border-radius: 15px;
   
}


.card {
    background-color: rgba(227, 0, 0, 0);
   
}



.my-custom-scrollbar {
    position: relative;
    height: 302px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.row{
    height: 700px;
}

/* .col-4{
    background-color: #ffffff8a;
    color: #020000;
    border-radius: 15px;
    height: 80%;
} */

.btn-danger{
    background-color: #ad070700;
    border-color:#ad070700;
    height: 20%;
    width: 40px;
    border-radius: 80%;
}
.bi-trash3{
    color:#010807;
    font-size:20px;
 }
 .btn-info{
    background-color: #05575700;
    border-color:#ad070700;
    font-size:20px;
    height: 20%;
    width: 40px;
    border-radius: 80%;

}
.bi-eye{
    color:#08382c;
    font-size:20px;
}