#encabezado {
    background-color: #ffffff;
    color: #020000;
    border-radius: 5px;
}

#encabezado2 {
    background-color: #ffffff;
    color: #020000;
    border-radius: 5px;
    text-align: center;

}

.card {
    background-color: rgba(227, 0, 0, 0);
    border-color: #00000000;
}

.card2 {
    background-color: rgb(255, 255, 255);
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.row{
    height: 700px;
}