<div id="inicio">
  <div class="container-fluid h-100 d-flex align-items-center justify-content-center flex-column">
    <div class="row">
      <h3>Bienvenido, {{ currentUser.success.nombre }}</h3>
    </div>
    <div class="row d-flex mt-5 align-items-center">
      <div class="botonInicio d-flex pb-5 align-items-center justify-content-between flex-column" routerLink="/citas">
        <i class="bi-calendar event" style="font-size: 80px;"></i>
        <h4>Mis Citas</h4>
      </div>
      <div class="botonInicio d-flex pb-5 align-items-center justify-content-between flex-column"
        routerLink="/solicitarCitas">
        <i class="bi-window-plus" style="font-size: 80px"></i>
        <h4>Nueva Cita</h4>
      </div>
      <div *ngIf="medico" class="botonInicio d-flex  pb-5 align-items-center justify-content-between flex-column"
        routerLink="/pacientes">
        <i class="bi-people-fill" style="font-size: 80px"></i>
        <h4>Pacientes</h4>
      </div>

      <div *ngIf="paciente" class="botonInicio d-flex  pb-5 align-items-center justify-content-between flex-column"
        routerLink="/historialMedico">
        <i class="bi-journal-medical" style="font-size: 80px"></i>
        <h4>Historial</h4>
      </div>
      <div class="botonInicio d-flex pb-5 align-items-center justify-content-between flex-column" routerLink="/perfil">
        <i class="bi-person-circle" style="font-size: 80px"></i>
        <h4>Perfil</h4>
      </div>
    </div>
    <br><br>
    <a href class="button-48" (click)="logout()">LogOut</a>
  </div>
</div>