<div id="inicio">
  <div
    class="container-fluid h-100 d-flex align-items-center justify-content-center flex-column"
  >
    <div class="row"><h3>Bienvenido, nombrePacienteMedico</h3></div>
    <div class="row d-flex mt-5 align-items-center">
      <div
        class="botonInicio d-flex pb-5 align-items-center justify-content-between flex-column"
      >
        <i class="bi-calendar-event" style="font-size: 80px"></i>
        <h4>Mis Citas</h4>
      </div>
      <div
        class="botonInicio d-flex pb-5 align-items-center justify-content-between flex-column"
      >
        <i class="bi-plus-circle-fill" style="font-size: 80px"></i>
        <h4>Nueva Cita</h4>
      </div>
      <div
        class="botonInicio d-flex  pb-5 align-items-center justify-content-between flex-column"
      >
        <i class="bi-people-fill" style="font-size: 80px"></i>
        <h4>Pacientes</h4>
      </div>
      <div
        class="botonInicio d-flex pb-5 align-items-center justify-content-between flex-column"
      >
        <i class="bi-person-circle" style="font-size: 80px"></i>
        <h4>Perfil</h4>
      </div>
    </div>
  </div>
</div>
