<div class="col-md-12 col-xl-4">
  <br>
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">
  
                    <ul class="list-unstyled">
                      <div style="background-color: white; text-align: center;">INTRODUCE DATOS PARA CREAR UNA HISTORIA CLINICA</div><br>
  
                      <!-- FORMULARIO CITA -->
                      <form  class="form-horizontal" [formGroup]="formularioCita" (ngSubmit)="onSubmit()" class="form-horizontal">
                        <fieldset>
                          <div class="d-flex flex-column">
                            <label for="tratamiento" class="form-label">Tratamiento </label>
                            <!-- <span style="color:red" *ngIf="this.formularioCita.get('tratamiento')?.touched && this.formularioCita.get('tratamiento')?.errors?.['required']">(Debes seleccionar una especialidad)</span> -->
                            <select id="tratamiento" name="tratamiento" formControlName="tratamiento"  #teams (change)="onSelected(teams.value)" class="form-select form-select-lg mb-4" aria-label="Ejemplo de .form-select-lg" required>
                              <option value="emergencia">emergencia</option>
                              <option value="consulta">consulta</option>
                              <option value="hospitalizacion">hospitalizacion</option>
                              <option value="medicina">medicina</option>
                              <option value="oncologia">oncologia</option>
                              <option value="cirugia">cirugia</option>
                              <option value="traumatologia">traumatologia</option>
                            </select>
                          
                          </div>
                            <!-- <label for="dni_medico" class="form-label">Medico</label>
                            <select id="dni_medico" name="dni_medico" formControlName="dni_medico" class="form-select form-select-lg"  aria-label="Ejemplo de .form-select-lg" required>
                                <option selected aria-required="true">Escoja medico para atenderle</option>
                                <option ></option>
                            </select> -->
                            <!-- <span style="color:red" >(Debes seleccionar un medico)</span> -->
                            <br>
                            <label for="hora" class="form-label" >Fecha inicio</label><br>
                        
                              <input type="date" id="start" name="trip-start" formControlName="fecha_creacion">
                       <br>
                          <span style="color:red" >(Debes seleccionar un dia)</span>
  <br><br>
                          <br>
                         
                        </fieldset>   
                        <button type="submit" id ="botonConfirmar" class="botonPrevia"    >Confirmar </button>  &nbsp;

                    </form>
