<div class="col-md-12 col-xl-4">
    <br>
            <div class="card" style="border-radius: 15px;">
              <div class="card-body text-center">
    
                      <ul class="list-unstyled">
                        <div style="background-color: white; text-align: center;">INTRODUCE DATOS PARA CREAR UNA HISTORIA CLINICA</div><br>
    
                        <!-- FORMULARIO CITA -->
                        <form  [formGroup]="formularioHistoria"  class="form-horizontal">
                          <fieldset>
                            <div class="d-flex flex-column">
                              <label for="tratamiento" class="form-label">Tratamiento </label>
                              <select id="tratamiento" name="tratamiento" formControlName="tratamiento"   class="form-select form-select-lg mb-4" aria-label="Ejemplo de .form-select-lg" required>
                                  <option value="emergencia">emergencia</option>
                                  <option value="consulta">consulta</option>
                                  <option value="hospitalizacion">hospitalizacion</option>
                                  <option value="medicina">medicina</option>
                                  <option value="oncologia">oncologia</option>
                                  <option value="cirugia">cirugia</option>
                                  <option value="traumatologia">traumatologia</option>
                              </select>
                            </div>
                            <label for="progreso" class="form-label">PROGRESO</label><br>
                            <textarea name="progreso" cols="40" rows="5"  formControlName="progreso" name="progreso" id="progreso" required></textarea>
                    
                            <BR>
                            <label for="especialidad" class="form-label">Fecha Inicio </label><br>
                            <input type="date" name="fecha" required pattern="\d{4}-\d{2}-\d{2}" formControlName="fecha" />
                            <!-- <input type="time" name="hora" min="18:00" max="21:00" step="3600" /> -->
                            <br><br>
                             <label for="especialidad" class="form-label">Fecha Fin </label><br>
                             <input type="date" name="fecha2" required pattern="\d{4}-\d{2}-\d{2}" formControlName="fecha2" />
                            <!-- <input type="time" name="hora2" min="18:00" max="21:00" step="3600" /> -->
                            <div class="d-flex flex-column">
    <!-- <br><br>
                            <button type="submit"  id ="botonConfirmar" class="botonPrevia"     >Confirmar </button>  &nbsp; -->
                            <button (click)="onSubmit()"  id ="botonConfirmar" class="botonPrevia"   [disabled]="!formularioHistoria.valid"  >Confirmar </button>  &nbsp;
                            </div>
                          </fieldset>
                      </form></ul></div></div></div>