<!-- <div class="container">
  <div class="row d-flex justify-content-center align-items-start" id="filaContenedora" >
    <div class="row d-flex justify-content-around" id="cajaPerfil">
        <div class="col-4 mt-5 me-5 d-flex flex-column justify-content-around align-items-center">
          <div class="col-7"  id="imagenPerfil">
            <img class="img-fluid"
              src="./assets/images/perfil_falso.webp"
              alt=""/>
          </div>
          <div class="accordion accordion-flush ">
            <div class="accordion-item ">
              <h2 class="accordion-header" id="flush-headingOne">
                <button
                  class="accordion-button collapsed  fs-5"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Datos de contacto
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <table class="table  fs-5">
                    <tbody>
                      <tr>
                        <th scope="row">Telefono</th>
                        <td></td>
                        <td>654237123</td>
                      </tr>
                      <tr>
                        <th scope="row">Correo</th>
                        <td></td>
                        <td>{{ currentUser.success.email }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-7 mt-5 ms-5">
          <h3 class="text-center" id="tituloDatos"><p>Datos</p></h3>
      
          <div class="row mt-4">
            <table class="table fs-5">
              <tbody>
                <tr>
                  <th scope="row">DNI</th>
                  <td>{{  currentUser.success.dni }}</td>
                </tr>
                <tr>
                  <th scope="row">Nombre</th>
                  <td>{{ currentUser.success.nombre }}</td>
                </tr>
                <tr>
                  <th scope="row">Apellidos</th>
                  <td>{{  currentUser.success.apellido1 }} {{  currentUser.apellido2 }}</td>
                </tr>
                <tr>
                  <th scope="row">Dirección</th>
                  <td>{{  currentUser.success.direccion }}</td>
                </tr>
                <tr>
                  <th scope="row">Sexo</th>
                  <td>{{ currentUser.success.sexo }}</td>
                </tr>
                <tr>
                  <th scope="row">Fecha de nacimiento</th>
                  <td>{{ currentUser.success.fecha_nacimiento }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    
    </div>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
-->

<div class="container-xl px-4 mt-4">
  <div class="row">
      <div class="col-xl-4">
          <!-- Profile picture card-->
          <div class="card mb-4 mb-xl-0">
              <div class="card-header">Foto de perfil</div>
              <div class="card-body text-center">
                  <!-- Profile picture image-->
                  <img class="img-rounded img-responsive" src="./assets/images/perro.jpeg" alt="">
                  <!-- Profile picture help block-->
                  <div class="big font-italic mb-4">{{ currentUser.success.role }}</div>
                  <!-- Profile picture upload button-->
                  <button class="btn btn-primary" type="button">Editar imagen</button>
              </div>
          </div>
      </div>
      <div class="col-xl-8">
          <!-- Account details card-->
          <div class="card mb-4">
              <div class="card-header">Información</div>
              <div class="card-body">
                  <form>
                      <!-- Form Group (username)-->
                      <div class="mb-3">
                          <label class="small mb-1" for="inputUsername">Nombre</label>
                          <input class="form-control" id="inputUsername" type="text" value="{{ currentUser.success.nombre }}" disabled>
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (first name)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputFirstName">Apellido1</label>
                              <input class="form-control" id="inputFirstName" type="text" value="{{ currentUser.success.apellido1 }}" disabled>
                          </div>
                          <!-- Form Group (last name)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputLastName">Apellido2</label>
                              <input class="form-control" id="inputLastName" type="text" value="{{ currentUser.success.apellido2 }}" disabled>
                          </div>
                      </div>
                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (organization name)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputOrgName">DNI</label>
                              <input class="form-control" id="inputOrgName" type="text" value="{{ currentUser.success.dni }}" disabled>
                          </div>
                          <!-- Form Group (location)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputLocation">Dirrecion</label>
                              <input class="form-control" id="inputLocation" type="text" value="{{ currentUser.success.direccion }}" disabled>
                          </div>
                      </div>
                      <!-- Form Group (email address)-->
                      <div class="mb-3">
                          <label class="small mb-1" for="inputEmailAddress">Email</label>
                          <input class="form-control" id="inputEmailAddress" type="email" value="{{ currentUser.success.email }}" disabled>
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (phone number)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputPhone">Sexo</label>
                              <input class="form-control" id="inputPhone" type="tel" value="{{ currentUser.success.sexo }}" disabled>
                          </div>
                          <!-- Form Group (birthday)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputBirthday">Fecha de Nacimiento</label>
                              <input class="form-control" id="inputBirthday" type="text" name="birthday" value="{{ currentUser.success.fecha_nacimiento}}" disabled>
                          </div>
                      </div>
                      <!-- Save changes button-->
                      <button class="btn btn-primary" type="button">Modificar</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>