
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    /* border: 1px solid black; */
=======
>>>>>>> 1f744a4360c18dd54da65145dd5fd9b7f90c4d1d
}

.contenedor{
    min-height: 80%;
}
