<div class="row" id="contenedor">
    <div class="container d-flex align-items-center justify-content-center">
  
      <div class="card text-center my-3">
        <!-- <div class="card-header titulos">EMPLEADOS - {{ titulo }}<div *ngIf="cargando" class="ms-3 spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div></div> -->
        <div class="card-body">
          <!-- <h5 class="card-title">{{ subtitulo }}</h5>
          <form [formGroup]="formularioAlta" (ngSubmit)="onSubmit()" class="mt-4 text-start"> -->
            <div class="row mb-3">
              <div class="col-12 col-md-8">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" class="form-control" formControlName="nombre" readonly>
  
              </div>
              <div class="col-12 mt-2 col-md-4 mt-md-0">
                <label for="edad" class="form-label">Edad</label>
                <input type="text" id="edad" class="form-control" formControlName="edad" readonly>
  
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 col-md-6">
                <label for="cargo" class="form-label">Cargo</label>
                <input type="text" id="cargo" class="form-control" formControlName="cargo" readonly>
  
              </div>
              
  
            </div>
            <!-- <div class="my-3 text-center">
              <button *ngIf="op == 1" type="text" class="btn btn-secondary btn-lg me-3" routerLink="/empleados">Volver</button>
              <button type="submit" class="btn btn-dark btn-lg">{{ txBoton }}</button>
            </div> -->
          
  
        </div>
      </div>
  
    </div>
  </div>
  
