<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <div class="card-body"> <br><br><br><br>
                <div class="container">
                    <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 box-shadow">
    
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title"></h1>
                                <div class="card-body">
                                    
                                    <ul class="list-unstyled">
                                        <table class="table">
    
                                            <tbody>
                                             
                                                <tr>
    
                                                    <td><img class="add" src="/assets/social-group.png"></td>
                                                    <td>Radiologia Comun</td>
    
                                                </tr>
                                               
    
                                            </tbody>
                                        </table>
                                        <div class="card-header">
                                            <h5 class="my-0 font-weight-normal"><small>Ultima cita</small></h5>
                                        </div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                            
                                                  <th scope="col">Fecha</th>
                                                  <th scope="col">Hora</th>
                                              
                                           </tr>
                                              </thead>
                                            <tbody>
                                                <tr>
    
                                                  
    
                                                    <td>10-03-2020</td>
                                                    <td>09:50</td>
    
                                                </tr>
                                           
    
                                            </tbody>
                                        </table>
                                    </ul> <br><br><br><div class="row">
                                       <div class="card-body">
                                        <h4 >Modificar CITA</h4>
                                        <div class="card-body">
                                             <div class="row">
                                                <div class="col-md-12">
                                                    <form class="form-horizontal" method="post">
                                                        <fieldset>
                                                            <select class="form-select form-select-lg mb-2" aria-label="Ejemplo de .form-select-lg">
                                                                <option selected>Selecciona una especialidad</option>
                                                                <option value="1">Medico</option>
                                                                <option value="2">Radiologo</option>
                            
                                                            </select>
                            
                                                            <select class="form-select form-select-lg" aria-label="Ejemplo de .form-select-lg" required>
                                                                <option selected aria-required="true">Selecciona una hora disponible</option>
                                                                <option value="1">12:00</option>
                                                                <option value="2">13:00</option>
                                                                <option value="1">14:00</option>
                                                                <option value="2">15:00</option>
                            
                                                            </select>
                                                       
                                                        </fieldset>
                                                    </form>
                                                    
                                                </div>
                                            </div>
           
                                        </div>
                                    </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="col">


            <div class="card-body">
                <h4 class="card-title pricing-card-title">Selecciona día</h4>

                <div class="card-body"><BR>
                    <div class="calendar" id="calendar"></div>
                    <br>    <button type="button" class="btn btn-default btn-lg gestionar" routerLink="/citas">Confirmar ></button>  &nbsp;
                            <button type="button" class="btn btn-default btn-lg gestionar"routerLink="/citas" >Cancelar ></button>
                 </div>

            </div>

        </div>

    </div>
</div>


