<head>
  <link href='https://fonts.googleapis.com/css?family=Archivo Black' rel='stylesheet'>
</head>
<body>
    <div class="container-fluid d-flex flex-column">
        <div class="contenedor row d-flex flex-column align-self-end align-items-center">
            <img class="logo" src="/assets/img/logo.png">
            <div class="login">LOGIN</div>
            <br>
            <div class="row d-flex flex-column align-items-center">
              <form action="">
                <div class="form-group">
                  <label>DNI</label>
                  <div class="row-1 dni">
                      <input type="text" class="form-control" placeholder="Introduce tu DNI" maxlength="9" pattern="[0-9]{8}[A-Za-z]{1}">
                  </div>
                </div><br>
                <div class="form-group">
                  <label>Contraseña</label>
                  <input type="password" class="form-control" placeholder="Introduce tu contraseña">
                </div><br>
                <div class="form-check d-flex justify-content-between">
                  <div>
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label">Recordar</label>
                  </div>
                  <a class="text-end" href="https://www.youtube.com/watch_popup?v=g_qTehknN6M">Olvidaste la contraseña?</a>
              </div>
              <div class="row-2 d-flex justify-content-end my-3">
                <button class="acceder">Acceder ➔</button>
              </div>
              </form>
        </div>
        <div class="d-flex flex-row mb-2 justify-content-end">
          <div class="cuenta">No tienes una cuenta?</div><a href="#">Registrate</a>
        </div>
        </div><br>  
    </div>
</body>