
<div class="row d-flex justify-content-center">
<div class="row d-flex justify-content-center" id="cajaPerfil">
    <div class="col-4 mt-5 me-5">
      <div class="row">
        <img
          id="imagenPerfil"
          src=""
          alt=""/>
      </div>
      <!-- ACCORDION -->
      <div class="accordion accordion-flush mt-5">
        <div class="accordion-item ">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed  fs-5"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Datos de contacto
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <table class="table  fs-5">
                <tbody>
                  <tr>
                    <th scope="row">Telefono</th>
                    <td></td>
                    <td>654237123</td>
                  </tr>
                  <tr>
                    <th scope="row">Correo</th>
                    <td></td>
                    <td>pepegil_42@gva.edu.es</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN ACCORDION -->
    </div>
  
    <!-- DIV DATOS -->
    <div class="col-7 mt-5 ms-5">
      <h3 class="text-center" id="tituloDatos"><p>Datos</p></h3>
      <!-- INICIO TABLA -->
  
      <div class="row mt-4">
        <table class="table fs-5">
          <tbody>
            <tr class="my-2">
              <th scope="row">Edad</th>
              <td>37</td>
            </tr>
            <tr>
              <th scope="row">DNI</th>
              <td>03160709A</td>
            </tr>
            <tr>
              <th scope="row">Sexo</th>
              <td colspan="2">Varón</td>
            </tr>
            <tr>
              <th scope="row">Nacionalidad</th>
              <td colspan="c2">Española</td>
            </tr>
            <tr>
              <th scope="row">Fecha de nacimiento</th>
              <td colspan="2">13/07/85</td>
            </tr>
            <tr>
              <th scope="row">Dirección</th>
              <td colspan="2">C/ Dique de Gaeta</td>
            </tr>
            <tr>
              <th scope="row">Nº Colegiado</th>
              <td colspan="2">9898012345</td>
            </tr>
            <tr>
              <th scope="row">Especialidad</th>
              <td colspan="2">Oncología</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- FIN TABLA -->
    </div>
    <!-- FIN DIV DATOS -->
  </div>

</div>