
<div class="row d-flex justify-content-center align-items-start" id="filaContenedora" >
<div class="row d-flex justify-content-around" id="cajaPerfil">
    <div class="col-4 mt-5 me-5 d-flex flex-column justify-content-around align-items-center">
      <div class="col-7"  id="imagenPerfil">
        <img class="img-fluid"
          src="./assets/images/pepe.jpg"
          alt=""/>
      </div>
      <!-- ACCORDION -->
      <div class="accordion accordion-flush ">
        <div class="accordion-item ">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed  fs-5"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Datos de contacto
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <table class="table  fs-5">
                <tbody>
                  <tr>
                    <th scope="row">Telefono</th>
                    <td></td>
                    <td>654237123</td>
                  </tr>
                  <tr>
                    <th scope="row">Correo</th>
                    <td></td>
                    <td>{{ perfil.email }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN ACCORDION -->
    </div>
  
    <!-- DIV DATOS -->
    <div class="col-7 mt-5 ms-5">
      <h3 class="text-center" id="tituloDatos"><p>Datos</p></h3>
      <!-- INICIO TABLA -->
  
      <div class="row mt-4">
        <table class="table fs-5">
          <tbody>
            <tr>
              <th scope="row">DNI</th>
              <td>{{ perfil.dni }}</td>
            </tr>
            <tr>
              <th scope="row">Nombre</th>
              <td>{{ perfil.nombre }}</td>
            </tr>
            <tr>
              <th scope="row">Apellidos</th>
              <td>{{ perfil.apellido1 }} {{ perfil.apellido2 }}</td>
            </tr>
            <tr>
              <th scope="row">Dirección</th>
              <td>{{ perfil.direccion }}</td>
            </tr>
            <tr>
              <th scope="row">Sexo</th>
              <td>{{ perfil.sexo }}</td>
            </tr>
            <tr>
              <th scope="row">Fecha de nacimiento</th>
              <td>{{ perfil.fecha_nacimiento }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- FIN TABLA -->
    </div>
    <!-- FIN DIV DATOS -->
  </div>

</div>