

<html>
	<head>
		<link href="//datatables.net/download/build/nightly/jquery.dataTables.css" rel="stylesheet" type="text/css" />
  
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="//datatables.net/download/build/nightly/jquery.dataTables.js"></script>
        
        
        <script>
            $(document).ready(function() {
                var myTable = $('#example').DataTable( {
                    "ajax": "/ajax/objects.txt",
                    "columns": [
                        { "data": "name" },
                        { "data": "position" },
                        { "data": "office" },
                        { "data": "extn" },
                        { "data": "start_date" },
                        { "data": "salary" }
                    ]
                } );
              
              $('button').on('click', function () {
                myTable.ajax.reload(function(json){ console.log(json)});
              });
            } );
             </script>
		<meta charset=utf-8 />
		<title>DataTables - JS Bin</title>
	</head>


    <style>
        body {
	font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


div.container {
	min-width: 980px;
	margin: 0 auto;
}


    </style>
	<body>
		<div class="container">
          <button>Reload</button>
			<table id="example" class="display" width="100%">
				<thead>
					<tr>
						<th>Name</th>
						<th>Position</th>
						<th>Office</th>
						<th>Age</th>
						<th>Start date</th>
						<th>Salary</th>
					</tr>
				</thead>

				<tfoot>
					<tr>
						<th>Name</th>
						<th>Position</th>
						<th>Office</th>
						<th>Age</th>
						<th>Start date</th>
						<th>Salary</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</body>
</html>