 <div class="container-fluid">
      <div class="row d-flex flex-column general">
        <br><br>
          <div class="col-m">
              <div class="row justify-content-center" style="margin: 10px;">
                  <div class="col-2 row"><a type="submit" class="btn btn-outline-primary" routerLink="/citas">Proximas citas</a></div>
                  <div class="col-2 row"><a type="submit" class="btn btn-primary" >Citas previas</a></div>
              </div>
          </div>
          
            <!-- =====================
COLUMNA IZQUIERDA
================== -->
      <!-- COLUMNA TABLA DATATABLES -->
      <div class="col">
        <br />
  
        <div class="card-body">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow p-2">
              <table *ngIf="mostrarTabla" datatable [dtOptions]="dtOptions"
              class="hover cell-border row-border display table-striped ">
              <thead>
                <tr id="encabezado">

                  <th>Fecha Solicitud</th>
                  <th>Fecha Cita</th>
                  <th>Hora</th>
                  <th >Especialidad</th>
                  <th *ngIf="medico">Paciente</th>
                  <th *ngIf="paciente">Medico</th>
                  <th>Descripción</th>
               
      
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cita of citas">
                  <td>{{ cita.fecha_creacion | date:'dd/MM/YY' }}</td>
                  <td>{{cita.fecha_fin | date: 'dd/MM/YY'}}</td>
                  <td>{{cita.fecha_fin | date:'shortTime'}}</td>
                  <td>{{ cita.especialidad }}</td>
                  <td *ngIf="paciente">{{ cita.medico.user.nombre }}</td>
                  <td *ngIf="medico">{{ cita.paciente.user.nombre }}</td>
                  <td>{{ cita.descripcion }}</td>
            
                  
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center ">
        <button type="button" class="btn btn-default btn-lg gestionar" routerLink="/solicitarCitas">Solicitar cita ➤</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button type="button" class="btn btn-default btn-lg gestionar"routerLink="/gestionar-cita-med" >Modificar cita ➤  </button>
       
      </div>
  </div>
</div>
  