 <div class="container-fluid">
      <div class="row d-flex flex-column general">
        <br><br>
          <div class="col-m">
              <div class="row justify-content-center" style="margin: 10px;">
                  <div class="col-2 row"><a type="submit" class="btn btn-outline-primary" routerLink="/citas">Proximas citas</a></div>
                  <div class="col-2 row"><a type="submit" class="btn btn-primary" >Citas previas</a></div>
              </div>
          </div>
          
            <!-- =====================
COLUMNA IZQUIERDA
================== -->
      <!-- COLUMNA TABLA DATATABLES -->
      <div class="col">
        <br />
  
        <div class="card-body">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow p-2">
              <table
                *ngIf="mostrarTabla"
                datatable
                [dtOptions]="dtOptions"
                class="hover cell-border row-border display table-striped "
              >
                <thead id="encabezad">
                  <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Especialidad</th>
                    <th>Medico</th>
                    <th>Descripcion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let paciente of pacientes">
                    <td>{{ paciente.dni }}</td>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellido1 }}</td>
                    <td class="text-center">
                      <a
                        [routerLink]="['/pacientes', paciente.dni]"
                        class="botonPrevia"
                        >mostrar</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center ">
        <button type="button" class="btn btn-default btn-lg gestionar" routerLink="/solicitarCitas">Solicitar cita ➤</button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button type="button" class="btn btn-default btn-lg gestionar"routerLink="/gestionar-cita-med" >Modificar cita ➤  </button>
       
      </div>
  </div>
</div>
  